@using Microsoft.AspNetCore.Identity
@using MMFI_Entites.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <title>Navbar</title>
</head>
<body>
    <nav class="navbar">
        <div class="mylogo">
            <h4>MMFoodIdea</h4>
        </div>
        <div class="container">

        </div>
        <ul class="nav-links">
            <li class="items"><a><i class="far fa-clock"></i>Latest</a></li>
            <li class="items"><a><i class="far fa-star"></i>Popular</a></li>
            <li class="items"><a><i class="far fa-heart"></i>Liked</a></li>
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="items"><img class="move1" src="https://www.elitesingles.com/sites/www.elitesingles.com/files/styles/elite_rectangle_article_arrow_left_frame/public/2b_en_ta_teaser_sp1.png"></li>
                <li class="items"><a class="move1" asp-action="GetUserProfile" asp-controller="Users">Profile</a></li>
                <li class="items"><a class="move2" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a></li>
            }
            else
            {
                <li class="items">
                    <a class="move1" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>
                <li class="items">
                    <a class="move2" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </li>
            }
        </ul>
    </nav>
</body>
</html>