@using Microsoft.AspNetCore.Identity
@using MMFI_Entites.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <title>Navbar</title>
</head>
<body>
    <nav class="mynavbar" sticky-top>
        <div class="mylogo">
            <h4>MMFoodIdea</h4>
        </div>
        <div class="container">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Find a recipe">
                    <div>
                        <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <ul class="nav-links">
            <li class="items"><a><i class="far fa-clock"></i>Latest</a></li>
            <li class="items"><a><i class="far fa-star"></i>Popular</a></li>
            <li class="items"><a><i class="far fa-heart"></i>Liked</a></li>
            @if (SignInManager.IsSignedIn(User))
            {

                <li class="items"><a class="move" asp-action="Users" asp-controller="Recipes">Profile</a></li>
                <li class="items"><a class="move">Logout</a></li>
            }
            else
            {                
                <li class="items">
                    <a class="move" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </li>
                <li class="items">
                    <a class="move" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>
            }
        </ul>
    </nav>
</body>
</html>