@model IList<MMFI_Entites.Models.Recipe>

@foreach (var recipe in Model)
{
    <div class="recipe">
        <img src="https://www.expatica.com/app/uploads/sites/5/2020/03/Boeuf-bourguignon-1920x1080.jpg">
        <a><h4>@recipe.RecipeName</h4></a>
        <div class="clock-portions">
            <p><i class="far fa-clock"></i>@recipe.RecipeTime</p>
            <p><i class="fas fa-utensils"></i>@recipe.RecipePortions</p>
        </div>
        <p></p>
    </div>
}