@model MMFI_Entites.Models.Recipe


@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/recipe-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <title>Document</title>
</head>
<body>

    <div class="container">
        <h1 class="create-recipe">Create Recipe<i class="fas fa-utensils"></i></h1>
        <div class="box">
            <form asp-action="CreateRecipe" method="post" id="form" enctype="multipart/form-data">                
                <div class="recipe-title">
                    <h3>Enter recipe title :</h3>                    
                    <input asp-for="RecipeName" class="title" placeholder="Enter title here">
                    <span asp-validation-for="RecipeName" class="text-danger"></span>
                </div>
                <div class="time-input">
                    <h3>How much time does it take :</h3>                    
                    <input asp-for="RecipeTime" class="time" placeholder="Enter time here">
                    <span asp-validation-for="RecipeTime" class="text-danger"></span>
                </div>
                <div class="portions-input">
                    <h3>Select number of portions :</h3>                   
                    <input asp-for="RecipePortions" class="portions" placeholder="Enter a number of portions here">
                    <span asp-validation-for="RecipePortions" class="text-danger"></span>
                </div>
                <div class="category-input">
                    <h3>Select a category for your recipe :</h3>
                    <select asp-for="RecipeCategory" asp-items="@Html.GetEnumSelectList<MMFI_Entites.Models.Category>()"></select>
                    <span asp-validation-for="RecipeCategory" class="text-danger"></span>
                </div>
                <div class="add-ingridients">
                    <h3 class="">Add Ingridient :</h3>
                    <input type="button" class="ingridient-input" id="btnAdd" value="Add ingridient" onclick="addIngridient()" />
                </div>
                <div class="ingridients-list">
                    <h3>Ingridients :</h3>
                    <div class="ings" id="ings">

                    </div>
                </div>
                <div class="instructions">
                    <h3>Write down the steps here :</h3>
                    <textarea asp-for="RecipeInstructions"></textarea>
                    <span asp-validation-for="RecipeInstructions" class="text-danger"></span>
                </div>              
                <div class="image-input">
                    <input multiple name="images" type="file" id="file" accept="image/*" class="file-upload_input" />
                    <button class="file-upload_button">Choose Image(s)</button>
                    <span class="file-upload_label">No file(s) selected</span>
                </div>
                <div class="add-recipe">
                    <button type="submit">Add recipe</button>
                </div>
            </form>
        </div>
    </div>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/create-recipe.js"></script>
</body>
</html>