@model MMFI_Entites.ViewModels.CommentVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<div class="card" id="commentSec">
    @if (Model.comments != null)
    {
        foreach (var comment in Model.comments)
        {           
            <div class="card-body">                
                    <p>@comment.Text</p>
                    <span>@comment.Date.ToString()</span>              
            </div>
        }
    }
</div>

<form asp-action="LeaveComment" data-ajax-begin="clearInputField" data-ajax-complete="" data-ajax-failure="alert('Fail')" data-ajax-success="sendComment" data-ajax="true" data-ajax-method="POST">

    <div class="form-group">
        <label>Example textarea</label>
        <textarea class="form-control" id="text" rows="3" name="Text"></textarea>
    </div>
    <button type="submit" id="submitButton" class="btn btn-primary">Submit</button>
</form>


@section scripts {
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery-unobtrusive-ajax.min.js"></script>
<script src="~/js/comment.js"></script>
<script src="~/js/signrReqHandler.js"></script>
}