@model MMFI_Entites.ViewModels.RecipesMainVM
@using Microsoft.AspNetCore.Identity
@using MMFI_Entites.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</head>


<body>
    <nav class="navbar">
        <div class="mylogo">
            <h2>MMFoodIdea</h2>
        </div>
        <div class="search-input">
            <input type="text" id="recipeSearch" ><img src="https://img.icons8.com/fluent-systems-filled/32/000000/search.png" onclick="search()" />
        </div>
        <ul class="nav-links">
            <li class="items"><a onclick="latest()"><i class="far fa-clock"></i>Latest</a></li>
            <li class="items"><a onclick="popular()"><i class="far fa-star"></i>Popular</a></li>
            <li class="items"><a onclick="liked()"><i class="far fa-heart"></i>Liked</a></li>
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="items"><a asp-action="GetUserProfile" asp-controller="Users"><i class="fas fa-user-circle"></i>Profile</a></li>
                <li class="items"><a  asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
            }
            else
            {
                <li class="items">
                    <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>
                <li class="items">
                    <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                </li>
            }
        </ul>
    </nav>

    <div class="container">
        <div class="filter-options">
            <div class="ingridients-filter">
                <h3>Ingridients</h3>
                <a class="search-by">Search by ingridients</a>
            </div>
            <div class="category">
                <h3>Category</h3>               
                <select asp-items="Html.GetEnumSelectList<Category>()" onchange="categorySearch()" id="select-category" asp-for="@Model.selectedCategory"></select>
            </div>
            <div class="time-filter">
                <h3>Time</h3>
                @if (Model.selectedTime == 999)
                {
                    <input type="radio" name="time" onclick="timeSearch(999)" checked="checked">
                    <label>Doesn't matter</label><br />
                }
                else
                {
                    <input type="radio" name="time" onclick="timeSearch(999)">
                    <label>Doesn't matter</label><br />
                }
                @if (Model.selectedTime == 15)
                {
                    <input type="radio" name="time" onclick="timeSearch(15)" checked="checked">
                    <label>Less than 15 minutes</label><br />
                }
                else
                {
                    <input type="radio" name="time" onclick="timeSearch(15)">
                    <label>Less than 15 minutes</label><br />
                }
                @if (Model.selectedTime == 30)
                {
                    <input type="radio" name="time" onclick="timeSearch(30)" checked="checked">
                    <label>Less than 30 minutes</label><br />
                }
                else
                {
                    <input type="radio" name="time" onclick="timeSearch(30)">
                    <label>Less than 30 minutes</label><br />
                }
                @if (Model.selectedTime == 60)
                {
                    <input type="radio" name="time" onclick="timeSearch(60)" checked="checked">
                    <label>Less than 1 hour</label><br />
                }
                else
                {
                    <input type="radio" name="time" onclick="timeSearch(60)">
                    <label>Less than 1 hour</label><br />
                }
            </div>
            <div class="rating-filter">
                <h3>Rating</h3>
                <div class="ratings">
                    <ion-icon name="star" class="s1"></ion-icon>
                    <ion-icon name="star" class="s2"></ion-icon>
                    <ion-icon name="star" class="s3"></ion-icon>
                    <ion-icon name="star" class="s4"></ion-icon>
                    <ion-icon name="star" class="s5"></ion-icon>
                </div>
            </div>
        </div>
        <div id="recipes">
            <partial name="_LatestPartial" model="@Model" />
        </div>
    </div>

    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-unobtrusive-ajax.min.js"></script>
    <script src="~/js/mainNav.js"></script>
</body>

