
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="AddProfilePic" method="post" enctype="multipart/form-data">


    <input type="file" name="imageFile" id="imageFile" />

    <button type="submit" class="btn btn-primary">Add</button>
 

</form>