*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    margin-bottom: 200px;
    font-family: 'Poppins', sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(238, 127, 0);
    height: 90px;
}

    .navbar h2 {
        color: white;
    }

.search-input {
    display: flex;
    background-color: white;
    width: 20%;
    height: 32px;
    border-radius: 8px;
    justify-content: space-between;
}

.search-input input {
  width: 90%;
  border-radius: 8px;
  border-style: none;
  outline-style: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

    .search-input img {
        background-color: white;
        border-radius: 8px;
        cursor: pointer;
    }


.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 45%;
}

.items {
    padding-right: 30px;
    padding-left: 5px;
    font-size: 18px;
    cursor: pointer;
}

.items:hover {
    transform: scale(1.1);
 }

 .items i {
    padding-right: 10px;
  }

.profile {
    background-color: white;
}

.nav-links img {
    display: block;
    float: left;
    height: 28px;
    width: 28px;
    margin-right: 10px;
    margin-left: auto;
}

.container {
    display: flex;
    align-items: stretch;
    margin-top: 15px;
}

.filter-options {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 20%;
    height: 100%;
    padding: 25px;
}

.category {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.category h3 {
        padding-bottom: 10px;
}

.category select{
    width: 40%;
    font-family: 'Poppins', sans-serif;
}


.ingridients-filter {
    padding-left: 30px;
    padding-top: 15px;
}

    .ingridients-filter h3 {
        padding-bottom: 10px;
    }

.search-by {
    background-color: rgb(238, 127, 0);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 5px;
    width: 70%;
    border-style: none;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border: white solid 2px;
    box-shadow: 0px 5px 12px rgb(236, 235, 234);
    border-radius: 8px;
    cursor: pointer;
}


.time-filter {
    padding-left: 30px;
}

.time-filter h3 {
    padding-bottom: 10px;
 }

.rating-filter {
    padding-left: 30px;
    padding-top: 20px;
}

.rating-filter h3 {
    padding-bottom: 10px;
}

.ratings{
    position: absolute;
    direction: rtl;
    cursor: pointer;
}

.ratings ion-icon{
    color: #e9e9e9;
    transition: 0.3s all;
}

.ratings ion-icon:hover{
    color: orange;
}

.s1:hover ~ ion-icon{
    color: orange;
}

.s2:hover ~ ion-icon{
    color: orange;
}

.s3:hover ~ ion-icon{
    color: orange;
}

.s4:hover ~ ion-icon{
    color: orange;
}

.s5:hover ~ ion-icon{
    color: orange;
}

.recipe-container {
    margin-left: 150px;
    font-family: 'Poppins', sans-serif;
}

.recipe{
    position: relative;
    width: 1000px;
    height: 200px;
    border: solid 0.7px grey;
}

.img-space img{
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    height: 150px;
    width: 200px;
    border-radius: 8px;
}

.rating{
    position: relative;
    top: 170px;
    right: 180px;
}

.recipe-info{
    position: relative;
    left: 25px;
    
}

.recipe-info h4{
    padding: 10px;
}

.recipe-info h6{
    padding: 10px;
}

ion-icon {
    color: orange;
  }